{% load static %}
<nav class="mobile">
    <div class="mobile-fluid">
        
        <ul class="mobile-nav">
            <li class="mob-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}"> <img class="nav-btn" src="{% static 'space/img/home.png' %}" alt=""> </a>
            </li>

            <li class="mob-item">
                <a class="nav-link" aria-current="page" href="#"> <img class="nav-btn" src="{% static 'space/img/calendar.png' %}" alt=""> </a>
            </li>

            <li class="mob-item">
                <a class="nav-link" aria-current="page" href="#"> <img class="nav-btn" src="{% static 'space/img/followers.png' %}" alt=""> </a>
            </li>

            <li class="mob-item">
                <a class="nav-link" aria-current="page" href="#"> <img class="nav-btn" src="{% static 'space/img/headphones.png' %}" alt=""> </a>
            </li>

            <li class="mob-item">
                <a class="nav-link" aria-current="page" href="#"> <img class="nav-btn" src="{% static 'space/img/mic.png' %}" alt=""> </a>
            </li>
        </ul>
    </div>
</nav>