{% extends 'space/base.html' %}
{% load static %}

{% block title %}KnowledgeChain {% endblock %}

{% block sidebar1 %}

{% endblock %}

{% block main %}
    <div class="main post-center">
        <form action="" method="post">
            {% csrf_token %}
        <div class="post-detail elem">
            {% if post.image %}
            <img class="post-detail__img" src="{{ post.image.url }}" alt=""> 
            {% endif %}
            <p class="form-control">Existing Image URL: <a class="post-img-url"  href="{{ post.image.url}}" disabled>{{ post.image.url }}</a></p>
            <input class="form-control" type="file" name="image">

            <div class="post-detail__details">
                <input class="form-control" type="text" placeholder="title" name="title" value="{{ post.title }}">

                <textarea class="form-control" name="content" id="" cols="30" rows="10" placeholder="description ...">{{post.content}}
                </textarea>

                <ul class="post-detail__tags">
                    <select class="form-control" name="tags" id="" multiple>
                        
                        {% for tag in tags.all %}
                        <option value="{{tag.id}}" {% if tag in item.tags.all %}selected{% endif %}>{{tag}}</option>
                        {% endfor %}
                      </select>
                </ul>
                <div class="post-detail__subdetails">
                    <div class="post-detail__profile">
                        <img class="post-item__profile-img" src="https://www.kindpng.com/picc/m/497-4973038_profile-picture-circle-png-transparent-png.png" alt="">
                        <div class="post-detail__dets">
                            <h4 class="post-item__author">
                                {{request.user.first_name}} {{request.user.last_name}}
                            </h4>
                            <span class="post-item__date">
                                {{post.time_create|date:"Y-m-d"}}
                            </span>
                        </div>
                        
                    </div>
                    
                    <div class="post-detail__actions">
                        <button class="btn-update" >Delete</button>
                    </div>
                    
                </div>
            </div>
        </div>

        </form>
    </div>
{% endblock %}

{% block sidebar2 %}


{% endblock %}

